.nav{
    background-color:#3b3b3b;
    height: 100vh;  
    padding-top: 50px;

    .MuiListItem-root:hover, .MuiListItem-root:active{
        background-color: #2d2d2d;
        border-left:3px green solid;
        cursor: pointer;
        //border-left: 3px green solid;
    }

    .MuiButtonBase-root, .MuiListItem-root, .MuiListItem-gutters, .MuiListItem-button, .MuiListItemIcon-root{
        color:#fff;  
        font-size: 16px; 
    }   

   

    
}